#define c00 #191919
#define c07 #dfdfdf
#define c12 #1b3e59

URxvt.font: xft:Source Code Pro:size=15
URxvt.scrollBar: False
URxvt.background: c00
URxvt.foreground: #ffffff
URxvt.iso14755: False
URxvt.iso14755_52: False
*.color0: c00
*.color7: c07
*.color12: c12

URxvt.keysym.Shift-Control-W: command:tput rmam
URxvt.perl-ext-common: resize-font,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold
URxvt.keysym.M-u: perl:matcher:list

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D
